---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>Welcome to the Clark Lab</h1>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
<div id="logosid" class="col-sm-12">
<figure class="sixth">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/cambridge.jpg" style="height: 35px">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/wellcome.png" style="height: 80px">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/bbsrc.png" style="height: 50px">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/leverhulme.jpg" style="height: 50px">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/int.jpg" style="height: 50px">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/cambridge_trust.svg" style="height: 50px">
</figure>
</div>
